@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

:root {
  font-size: 62.5%;
}

h1 {
  font-family: "Sofia Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: hsl(50, 100%, 98%);
  font-weight: 700;
  font-size: 3.3rem;
  max-width: 15ch;
  margin-bottom: 2vh;
}

h2 {
  font-family: "Sofia Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: hsl(50, 2%, 49%);
  font-size: 4.1rem;
}

h3 {
  font-family: "Sofia Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: hsl(50, 2%, 49%);
  font-size: 4.1rem;
}

h4 {
  font-family: "Sofia Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: hsl(50, 100%, 98%);
  border-radius: 100px;
  border: hsl(50, 100%, 98%);
  padding: 1.15em 2em;
  color: hsl(173, 73%, 19%);
  height: fit-content;
  width: fit-content;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  background: none;
  font-size: 1.3rem;
  line-height: 1em;
}
h4:visited {
  color: hsl(173, 73%, 19%);
}

p {
  font-family: "Sofia Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.1rem;
  color: hsl(50, 100%, 98%);
  line-height: 1.7em;
  max-width: 75ch;
  letter-spacing: 0.1em;
}

a {
  font-family: "Sofia Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.1rem;
  color: hsl(50, 100%, 98%);
  line-height: 1.7em;
  max-width: 75ch;
  letter-spacing: 0.1em;
  font-size: 1.1rem;
  color: hsl(50, 100%, 98%);
}
a:visited {
  color: hsl(50, 100%, 98%);
}

li {
  font-family: "Sofia Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.1rem;
  color: hsl(50, 100%, 98%);
  line-height: 1.7em;
  max-width: 75ch;
  letter-spacing: 0.1em;
}

footer {
  position: sticky;
  background-color: hsl(180, 11%, 7%);
  display: flex;
  align-items: center;
  padding: 2vh 3vw;
}
footer a {
  margin: 0 1ch;
  letter-spacing: 0.1em;
  font-weight: 700;
}
footer p {
  flex-grow: 2;
  text-align: right;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  color: hsla(50, 100%, 98%, 0.25);
}

header {
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1vh 3vw;
}
header nav ul {
  display: flex;
  gap: 1vw;
}
header nav ul li:nth-child(1) {
  display: none;
}
@media screen and (width > 800px) {
  header nav ul li:nth-child(1) {
    display: block;
  }
}
header nav ul li a {
  background-color: hsl(50, 100%, 98%);
  border-radius: 100px;
  border: hsl(50, 100%, 98%);
  padding: 1.15em 2em;
  color: hsl(173, 73%, 19%);
  height: fit-content;
  width: fit-content;
}
header nav ul li a:visited {
  color: hsl(173, 73%, 19%);
}

.header__branding {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}
.header__branding svg {
  width: 37px;
  aspect-ratio: 1;
  object-fit: cover;
  height: fit-content;
  margin-right: 3.5px;
}

.icon {
  width: 20px;
  aspect-ratio: 1;
  object-fit: cover;
}

.section__hero {
  min-height: 100vh;
  background-color: hsl(174, 75%, 8%);
  display: grid;
  grid-template-areas: "content";
  place-items: center;
}
.section__hero video {
  grid-area: content;
}
.section__hero div {
  grid-area: content;
  padding: 0 3vw;
  position: relative;
  bottom: 5vh;
}
.section__hero div p {
  margin-bottom: 7.5vh;
  line-height: 1.4em;
  max-width: 75%;
}
.section__hero div a {
  background-color: hsl(50, 100%, 98%);
  border-radius: 100px;
  border: hsl(50, 100%, 98%);
  padding: 1.15em 2em;
  color: hsl(174, 75%, 8%);
  height: fit-content;
  width: fit-content;
}
.section__hero div a:visited {
  color: hsl(174, 75%, 8%);
}
.section__claim {
  min-height: 100vh;
  background-color: hsl(174, 75%, 8%);
  background-color: hsl(50, 100%, 98%);
}
.section__claim h2 {
  display: block;
  margin: 15vh auto;
  font-size: 2.4rem;
  max-width: 21ch;
  text-align: center;
  line-height: 1.1em;
}
.section__claim h2 span {
  color: hsl(16, 97%, 50%);
}
.section__cta {
  min-height: 100vh;
  background-color: hsl(174, 75%, 8%);
  background-color: hsl(50, 100%, 98%);
}
.section__cta-carousel {
  display: flex;
  align-items: center;
  gap: 0 10vw;
}
.section__cta-carousel-single {
  display: flex;
  align-items: center;
}
.section__cta-carousel-single div {
  display: grid;
  place-items: center;
  grid-template-areas: "content";
}
.section__cta-carousel-single img {
  grid-area: content;
  width: 10px;
}
.section__cta-carousel-single svg {
  grid-area: content;
}
.section__cta-carousel-single p {
  background-color: black;
  border-radius: 100px;
  border: black;
  padding: 1.15em 2em;
  color: red;
  height: fit-content;
  width: fit-content;
  background: none;
  border: 1px solid hsla(0, 0%, 50%, 0.2);
  padding: 0.75em 2em;
  margin-left: 5px;
}
.section__cta-carousel-single p:visited {
  color: red;
}
.section__use-case-scenarios {
  min-height: 100vh;
  background-color: hsl(174, 75%, 8%);
}
.section__facts {
  background-color: hsl(283, 24%, 23%);
  padding: 0;
}
.section__facts svg {
  position: sticky;
  display: block;
  margin: 0 auto;
  padding: 60% 0 5vh;
  top: 0;
}
.section__facts div:first-child {
  margin-bottom: 90vh;
}
.section__facts div:first-child p {
  text-align: center;
}
.section__facts div:first-child h2 {
  font-size: 3rem;
  color: hsl(50, 100%, 98%);
  text-align: center;
}
.section__facts div:nth-child(3) {
  margin-top: 40vh;
}
.section__facts-single-fact {
  padding: 3vh 3vw;
}
.section__facts-single-fact p:nth-of-type(1) {
  font-size: 8rem;
  text-align: center;
  letter-spacing: 0;
}
.section__facts-single-fact p:nth-of-type(1) span {
  font-size: 3rem;
}
.section__facts-single-fact p:nth-of-type(2) {
  font-size: 1.5rem;
  line-height: 1.1em;
  margin: 20vh 0 3vh;
}
.section__facts-single-fact p:nth-of-type(3) span {
  color: hsla(50, 100%, 98%, 0.25);
}
.section__features-single-feature {
  padding: 0 3vw;
  margin: 6vh 0;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "number title" "description description" "image image" "list list" "cta cta";
}
.section__features-single-feature-image {
  grid-area: image;
}
.section__features h3 {
  grid-area: title;
  font-size: 2.5rem;
  align-self: center;
  line-height: 1.3em;
  margin-left: 5vw;
}
.section__features h3 span {
  color: hsl(173, 56%, 23%);
}
.section__features p {
  grid-area: description;
  color: hsl(40, 2%, 32%);
  font-size: 1.4rem;
  max-width: 40ch;
  line-height: 1.3em;
  margin: 3vh 0;
}
.section__features ul {
  grid-area: list;
}
.section__features ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 5vw;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}
.section__features ul li p {
  max-width: 60%;
}
.section__features ul li h4 {
  padding: 0.5em 1.2em;
  flex-grow: 1;
}
.section__features a {
  grid-area: cta;
  /* background-color : red; */
  background-color: hsl(173, 56%, 23%);
  border-radius: 100px;
  border: hsl(173, 56%, 23%);
  padding: 1.15em 2em;
  color: hsl(50, 100%, 98%);
  height: fit-content;
  width: fit-content;
  margin-top: 4vh;
}
.section__features a:visited {
  color: hsl(50, 100%, 98%);
}
.section__features-number {
  grid-area: number;
  display: grid;
  place-items: center;
  grid-template-areas: "content";
}
.section__features-number p {
  grid-area: content;
  color: hsl(173, 56%, 23%);
}
.section__features-number svg {
  grid-area: content;
}
.section__call-schedule {
  min-height: 100vh;
  background-color: hsl(174, 75%, 8%);
  background-color: hsl(180, 11%, 7%);
  place-items: center;
  align-content: center;
  text-align: center;
}
.section__call-schedule p {
  font-size: 1.1rem;
  margin: 8vh 0 1.5vh;
}
.section__call-schedule h2 {
  color: hsl(50, 100%, 98%);
  font-size: 3.3rem;
  font-weight: 700;
  letter-spacing: 0.15em;
}

/* svg {
  max-width: 100vw;
} */
video {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=index.css.map */
