header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 3vw;
}

.header {
  &__branding {
    display: flex;
    align-items: center;
    img {
      width: 150px;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}
