@use "sass:map";
@use "../utils/baseValues" as *;
@use "../utils/colors" as *;
@use "../utils/mixins" as *;
.section {
  &__use-case-scenarios {
    &__single {
      display: grid;
      align-items: center;
      background-color: $neutralDark;

      video {
        grid-area: video;
        height: 120vh;
        object-fit: cover;
      }
      div {
        grid-area: content;
        background: none;
        display: flex;
        align-items : center;
        margin-left: 3vw;

        h3 {
          margin: 0 0 0 5vw;
          padding: 0;
          font-size: 3rem;
          color: $neutralLight;
        }
      }

      /* video {
        object-fit: cover;
        height: 100%;
      } */
    }
    &__list-icon {
      width: fit-content;
      position: relative;
      align-items : start;
      margin-right: 5vw;
      img {
        grid-area: content;
        margin: 0;
        width: 20px;
        height: 20px;
        /* transform: translate(50%, 50%); */
        transform : translateX(50%);
      }
      svg {
        grid-area: content;
        position: absolute;
        
      }
    }
  }
}
