@use "sass:map";
@use "../utils/baseValues" as *;
@use "../utils/colors" as *;
@use "../utils/mixins" as *;
.section {
  &__hero {
    @include page;
    display: grid;
    grid-template-areas: "content";
    place-items: center;
    video {
      grid-area: content;
    }

    div {
      grid-area: content;
      padding: 0 3vw;
      position: relative;
      bottom: 5vh;
      p {
        margin-bottom: 7.5vh;
        line-height: 1.4em;
        max-width: 75%;
      }
      a {
        @include button;
      }
    }
  }
  &__claim {
    @include page;
    background-color: $neutralLight;
    h2 {
      display: block;
      margin: 15vh auto;
      font-size: 2.4rem;
      max-width: 21ch;
      text-align: center;
      line-height: 1.1em;
      span {
        color: $accentColor;
      }
    }
  }
  &__cta {
    @include page;
  }
  &__use-case-scenarios {
    @include page;
  }
  &__facts {
    background-color: hsl(283, 24%, 23%);
    padding: 0;
    svg {
      position: sticky;
      display: block;
      margin: 0 auto;
      padding: 60% 0 5vh;
      top: 0;
    }
    div {
      &:first-child {
        margin-bottom: 90vh;
        p {
          text-align: center;
        }
        h2 {
          font-size: 3rem;
          color: $neutralLight;
          text-align: center;
        }
      }
      &:nth-child(3) {
        margin-top: 40vh;
      }
    }
    &-single-fact {
      padding: 3vh 3vw;

      p {
        &:nth-of-type(1) {
          font-size: 8rem;
          text-align: center;
          letter-spacing: 0;
          span {
            font-size: 3rem;
          }
        }
        &:nth-of-type(2) {
          font-size: 1.5rem;
          line-height: 1.1em;
          margin: 20vh 0 3vh;
        }
        &:nth-of-type(3) {
          span {
            color: $neutralLight--transparent;
          }
        }
      }
    }
  }
  &__features {
    &-single-feature {
      padding: 0 3vw;
      margin : 6vh 0;
      display: grid;
      grid-template-columns: 20% 80%;
      grid-template-rows: repeat(5, auto);
      grid-template-areas:
        "number title"
        "description description"
        "image image"
        "list list"
        "cta cta";
      &-image {
        grid-area: image;
      }
    }
    h3 {
      grid-area: title;
      font-size: 2.5rem;
      align-self: center;
      line-height: 1.3em;
      margin-left: 5vw;
      span {
        color: $mainColor;
      }
    }
    p {
      grid-area: description;
      color: hsl(40, 2%, 32%);
      font-size: 1.4rem;
      max-width: 40ch;
      line-height: 1.3em;
      margin: 3vh 0;
    }
    ul {
      grid-area: list;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 5vw;
        border-bottom : 1px solid hsla(0, 0%, 0%, .1);
        p {
          max-width: 60%;
        }
        h4 {
          padding: 0.5em 1.2em;
          flex-grow: 1;
        }
      }
    }
    a {
      grid-area : cta;
      /* background-color : red; */
      @include button($neutralLight, $mainColor);
      margin-top: 4vh;
    }

    &-number {
      grid-area: number;
      display: grid;
      place-items: center;
      grid-template-areas: "content";
      p {
        grid-area: content;
        color: $mainColor;
      }
      svg {
        grid-area: content;
      }
    }
  }
  &__call-schedule {
    @include page;
    background-color: hsl(180, 11%, 7%);
    place-items: center;
    align-content: center;
    text-align: center;
    p {
      font-size: 1.1rem;
      margin: 8vh 0 1.5vh;
    }
    h2 {
      color: $neutralLight;
      font-size: 3.3rem;
      font-weight: 700;
      letter-spacing: 0.15em;
    }
  }
}
