@use "../utils/colors" as *;
@use "../utils/mixins" as *;
.section {
  &__hero {
    @include page;
  }
  &__claim {
    @include page;
  }
  &__cta {
    @include page;
  }
  &__use-case-scenarios {
    @include page;
  }
  &__facts {
    @include page;
    background-color: hsl(283, 24%, 23%);
  }
  &__call-schedule {
    @include page;
    background-color: hsl(180, 11%, 7%);
    place-items: center;
    align-content: center;
    text-align: center;
    p {
      font-size: 1.1rem;
      margin: 8vh 0 1.5vh;
    }
    h2 {
      color: $neutralLight;
      font-size: 3.3rem;
      font-weight: 700;
      letter-spacing: 0.15em;
    }
  }
}
