@use "sass:map";
@use "../utils/baseValues" as *;
@use "../utils/colors" as *;
@use "../utils/mixins" as *;
.section {
  &__facts {
    background-color: hsl(283, 24%, 23%);
    padding: 0;
    padding-top: 15vh;
    svg {
      position: sticky;
      display: block;
      margin: 0 auto;
      padding: 60% 0 5vh;
      top: 0;
    }
    div {
      &:first-child {
        margin-bottom: 90vh;
        p {
          text-align: center;
        }
        h2 {
          font-size: 3rem;
          color: $neutralLight;
          text-align: center;
        }
      }
      &:nth-child(3) {
        margin-top: 40vh;
      }
    }
    &-single-fact {
      padding: 3vh 3vw;

      p {
        &:nth-of-type(1) {
          font-size: 8rem;
          text-align: center;
          letter-spacing: 0;
          span {
            font-size: 3rem;
          }
        }
        &:nth-of-type(2) {
          font-size: 1.5rem;
          line-height: 1.1em;
          margin: 20vh 0 3vh;
        }
        &:nth-of-type(3) {
          span {
            color: $neutralLight--transparent;
          }
        }
      }
    }
  }
}
