@use "colors" as *;
@use "fontFaces" as *;
@use "mixins" as *;

h1 {
  @include fontFace;
  color: $neutralLight;
  font-weight: 700;
  font-size: 3.3rem;
  max-width: 15ch;
  margin-bottom: 2vh;
}

h2 {
  @include fontFace;
  color: $neutralMedium-light;
  font-size: 4.1rem;
}

h3 {
  @include fontFace;
  color: $neutralMedium-light;
  font-size: 4.1rem;
}

h4 {
  @include fontFace;
  @include button(hsl(173, 73%, 19%), $neutralLight);
  border : 1px solid hsla(0, 0%, 0%, .1);
  background : none;
  font-size: 1.3rem;
  line-height: 1em;
}

p {
  @include baseFont;
}

a {
  @include baseFont;
  font-size: 1.1rem;

  color: $neutralLight;
  &:visited {
    color: $neutralLight;
  }
}

li {
  @include baseFont;
}
